# compiled output
/app/dist
/app/README.md
/tmp
/out-tsc
src/gql/gen/
*.generated.ts

# dependencies
/node_modules
/app/node_modules
/example/node_modules

# IDEs and editors
/.idea
.project

.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode\
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/cypress/videos/
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs

# System Files
.DS_Store
Thumbs.db

# Gen output
app/table-definitions.json
app/temp
app/test
example/src/gen
